__pycache__/
*.py[cod]
*.pyo

.env
.venv/
venv/

build/
dist/
*.egg-info
*.egg
*.whl

.coverage
.tox/
.pytest_cache/
*.log

.vscode/
.idea/

.ipynb_checkpoints/

config.json
secrets.json
*.sqlite
*.sqlite3

.DS_Store
Thumbs.db

charts/
helmfile.yaml
helmfile.d/
